<!Doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>dictionary</title>
	<link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="base.css">
</head>
<body background="bg.png">
	<div class="row main">
		<div class="col-sm-12">
			<h2>dictionary</h2>
			<form class="navbar-form navbar-center" role="search" id="new-entry">
		  		<div class="form-group" id="body">
		    		<input type="text" class="form-control" id="word" placeholder="word">
		    		<input type="text" class="form-control" id="definition" placeholder="definition">
		  		</div>
		  		<button type="commit" class="btn btn-inverse">commit</button>
		  		<a href="#/new" class="btn btn-primary">new</a>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<!-- <h3>new entries</h3> -->
			<div id="entries"></div>
		</div>
		<div class="col-sm-6">
			<!-- <h3>saved entries</h3> -->
			<div id="saved"></div>
		</div>
	</div>


	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script src="app.js"></script>

		<!-- TEMPLATES -->
		<script type="text/template" id="dictionary_template">
			<span style='font-weight:bold' class="word"> <%= word %>-</span>
			<span class="definition"> <%= definition %> </span>
			<button type='button' class='edit btn btn-primary btn-xs'> edit </button>
			<button type='button' class='save btn btn-success btn-xs'> save </button>
			<button type='button' class='delete btn btn-danger btn-xs'> delete </button>
		</script>

		<script type='text/template' id='login'>
			
			
		</script>
	
		<script type="text/template" id="new_template">
		var test = [{word: "word", definition:"definition"}, {word: 'definition', definition:'word'}];
			<table class="table striped">
				<tbody>
					<% _.each(dictionary, function(user){ %>
						<tr>
							<td> <%= user.get('word')%></td>
							<td> <%= user.get('definition')%></td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</script>

</body>
</html>






