<!Doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>kaleo</title>
	<link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="base.css">
</head>
<body background="assets/bg.png">

<div class="row">
	<div class="col-sm-12" id='main'></div>
</div>
		<!-- TEMPLATES -->
		<script type='text/template' id='login_template'>
			<div class="row container">
		    <h2> dictionary </h2>
		        <div class="col-md-offset-5 col-md-3">
		            <div class="form-login">
			            <form class="navbar-form" role="submit" id="login">
				            <h4> welcome back </h4>
				            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
				            </br>
				            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
				            </br>
				            <span class="group-btn">
				            	<button type="commit" class="btn btn-inverse">commit</button>     
				                <a href="#/home" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
				            </span>
			            </form>
		            </div>
		        </div>
			</div>
		</script>


		<script type="text/template" id="home_template">

			<div class="row" id="header">
				<h2>kaleo</h2>
				<div class="col-sm-12">
				</div>
			</div>
			<div class="row" id="upper">
				<div class="col-xs-6">
					<form class="navbar-form navbar-center" id="new-list">
				  		<div class="form-group" id="body">
				    		<input type="text" class="form-control" id="list" placeholder="list">
				  		</div>
					  		<button type="commit" class="btn btn-primary">create</button>
					</form>
				</div>

				<div class="col-xs-6">
					<form class="navbar-form navbar-center" role="search" id="new-entry">
				  		<div class="form-group" id="body">
				    		<input type="text" class="form-control" id="word" placeholder="task">
				    		<input type="text" class="form-control" id="definition" placeholder="description">
				  		</div>
					  		<button type="commit" class="btn btn-primary">commit</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h3 id="lists"> lists </h3>
					<div id="list"></div>
				</div>
				<div class="col-sm-6">
					<h3 id="tasks">tasks</h3>
					<div id="entries"></div>
				</div>
			</div>
		</script>

		<script type="text/template" id="dictionary_template">
			<div class="actions">
				<input type="checkbox" class='completed'>
				<button type='button' class='delete btn btn-danger btn-xs'> x </button>
				<button type='button' class='edit btn btn-primary btn-xs' id='actions'> edit </button>
				<span style='font-weight:bold' class="word" spellcheck='false'> <%= task %>-</span>
				<span class="definition" spellcheck='false'> <%= description %> </span>
			</div>
		</script>
		
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script src="app.js"></script>

</body>
</html>






