<!Doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>dictionary</title>
	<link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="base.css">
</head>
<body background="bg.png">
	<div class="row">
		<div class="col-sm-12">
			<h2>dictionary</h2>
			<form class="navbar-form navbar-left" role="search" id="new-entry">
		  		<div class="form-group">
		    		<input type="text" class="form-control" id="word" placeholder="word">
		    		<input type="text" class="form-control" id="definition" placeholder="definition">
		  		</div>
		  		<button type="commit" class="btn btn-inverse">commit</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3>new entries</h3>
			<div id="entries">
				<table class="table table-striped">
					<tr id="new-entry">
						
					</tr>
				</table>
			</div>
		</div>
		<div class="col-sm-6">
			<h3>saved entries</h3>
			<div id="saved"></div>
		</div>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script type='text/javascript' src="backbone.localStorage.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
	
		<script>

		(function($){


			//---------SINGLE ENTRY MODEL----------
				var Entry = Backbone.Model.extend({
					defaults: function(){
						return{
							word: '',
							definition: ''
						}
					}
				});

			//------------ENTRY MODEL COLLECTION------------
			EntryList = Backbone.Collection.extend({

					model: Entry
				});

			//-----INSTANCIATE COLLECTION----
			var dictionary = new EntryList();
			var saved = new EntryList();

			//-----SINGLE ENTRY VIEW------
			var EntryView = Backbone.View.extend({
				model: new Entry(),
				tagName:'div',
				className: 'singleEntry',

				events:{
					'click .edit': 'edit',
					'click .delete': 'delete',
					'keypress .definition': 'updateOnEnter',
					'click .save': 'save'
				},

				initialize: function(){
					this.template = _.template($("#dictionary_template").html());

				},

				delete: function(ev){
					ev.preventDefault;
					dictionary.remove(this.model);
					saved.remove(this.model);

				},

				edit: function(ev){
					ev.preventDefault;
					this.$('.definition').attr('contenteditable', true).focus();

				},

				save: function(ev){
					ev.preventDefault;
					saved.add(this.model);
					dictionary.remove(this.model);
					saved.comparator = 'word';
					console.log(this.model.toJSON());

				},

				close: function(){
					var definition = this.$('.definition').text();
					this.model.set('definition', definition);
					this.$('.definition').attr('contenteditable', false).blur();

				},

				updateOnEnter: function(ev){
					if(ev.which == 13){
						this.close();
					}
				},

				render: function(){
					this.$el.html(this.template(this.model.toJSON()));
					return this;
				}
			});

			//--------------DICTIONARY VIEW------------
			var DictionaryView = Backbone.View.extend({
				model: dictionary,
				el: $('#entries'),

				initialize: function(){
					this.model.on('add', this.render, this);
					this.model.on('remove', this.render, this);

				},

				render: function(){
					var self = this;
					self.$el.html('');
					_.each(this.model.toArray(), function(entry, i){
						self.$el.append((new EntryView({model: entry})).render().$el);
					});

					return this;
				}
			});

			//---------SAVED ENTRY VIEW-----------
			var SavedView = Backbone.View.extend({
				model: saved,
				el: $('#saved'),

				initialize: function(){
					this.model.on('add', this.savedRender, this);
					this.model.on('remove', this.savedRender, this);

				},

				savedRender: function(){
					var self = this;
					self.$el.html('');
					_.each(this.model.toArray(), function(entry, i){
						self.$el.append(new EntryView({model: entry}).render().$el);
					});

					return this;
				}
			});


			//-------BINDING DATA ENTRY TO NEW MODEL VIEW-------
			$(document).ready(function(){
				$('#new-entry').submit(function(ev){
					var entry = new Entry({word: $('#word').val(), definition: $('#definition').val() });

					dictionary.add(entry);
					dictionary.comparator = 'word';

					console.log(dictionary.toJSON());

					$('.form-group').children('input').val('');

					return false;
				});

				var appView = new DictionaryView();
				var savedView = new SavedView();
			});


			//--------------ROUTER----------------
			var Router =  Backbone.Router.extend({
				routes:{
					'':'home' 
				}
			});
			var router = new Router();
			router.on('route:home', function(){
				console.log('router home');
			});
			Backbone.history.start();
		})(jQuery);	

		</script>
		<!-- TEMPLATE -->
		<script type="text/template" id="dictionary_template">
			<span style='font-weight:bold' class="word"> <%= word %>-</span>
			<span class="definition"> <%= definition %> </span>
			<button type='button' class='edit btn btn-primary btn-xs'> edit </button>
			<button type='button' class='save btn btn-success btn-xs'> save </button>
			<button type='button' class='delete btn btn-danger btn-xs'> delete </button>
		</script>
</body>
</html>